.memSection {
  background-color: #222930;
  padding: 0px 20px 10px 20px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  h2 {
    font-size: 30px;
    font-weight: 400;
    color: #39a5f1;
    padding: 5px;
    margin-bottom: 5px;
  }
  .button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
  .assesment {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
  }
  .vote {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    width: 150px;
  }
  .thumbs {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .favorite {
    display: flex;
    justify-content: flex-end;
    width: 150px;
  }
  span {
    padding: 2px;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    background-color: #2f3336;
    font-size: 14px;
    &:hover {
      font-size: 16px;
    }
  }
  .voteResult {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 240px;
  }
  .hot {
    background-color: green;
    font-size: 16px;
    border-radius: 7px 0px 0px 7px;
    font-weight: 700;
    &:hover {
      font-size: 17px;
    }
  }
  .regular {
    background-color: #39a5f1;
    font-size: 16px;
    font-weight: 700;
    &:hover {
      font-size: 17px;
    }
  }
  .poor {
    background-color: red;
    font-size: 16px;
    border-radius: 0px 7px 7px 0px;
    font-weight: 700;
    &:hover {
      font-size: 17px;
    }
  }
  .span1 {
    border-radius: 7px 0px 0px 7px;
    &:hover {
      font-size: 16px;
    }
  }
  .span3 {
    border-radius: 0px 7px 7px 0px;
    &:hover {
      font-size: 16px;
    }
  }
  .navLink {
    text-decoration: none;
    color: white;
  }
}

.under320px {
  display: none;
  background-color: #222930;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 100px 0 100px 0;
  width: 100%;
  min-width: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .memSection {
    padding: 0px 10px 10px 10px;

    margin-top: 10px;
    border-radius: 5px;
    max-width: 320px;
    .memImg {
      width: 300px;
    }
    .assesment {
      margin-top: 7px;

      max-width: 300px;
      .voteResult {
        .span2 {
          display: none;
        }
        .span1 {
          display: none;
        }
        .span3 {
          display: none;
        }
        .hot {
          font-size: 15px;

          width: 65px;
        }
        .regular {
          font-size: 15px;
          width: 65px;
        }
        .poor {
          font-size: 15px;

          width: 65px;
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 680px) {
  .memSection {
    background-color: #222930;
    padding: 0px 10px 10px 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    max-width: 480px;
    .memImg {
      width: 460px;
    }
    .assesment {
      margin-top: 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 460px;
      .voteResult {
        .span2 {
          display: none;
        }
        .span1 {
          display: none;
        }
        .span3 {
          display: none;
        }
        .hot {
          background-color: green;
          font-size: 16px;
          border-radius: 7px;
          width: 80px;
          align-items: center;
        }
        .regular {
          background-color: #39a5f1;
          font-size: 16px;
          border-radius: 7px;
          width: 80px;
          align-items: center;
        }
        .poor {
          background-color: red;
          font-size: 16px;
          border-radius: 7px;
          width: 80px;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 319px) {
  .memSection {
    display: none;
  }
  .under320px {
    display: inline-block;
  }
}
