header {
  margin: 0;
  background-color: #2f3336;
  color: #efefef;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  .logo {
    font-size: 44px;
    color: #ddd;
    text-align: center;
    letter-spacing: 10px;
    padding: 30px 0 30px 0;
    font-weight: 700;
    display: block;
  }
}
